<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

              <meta itemprop="bestValue" content="5">


              <f:if condition="{stars}>0">
                <f:image
                      class="review__star"
                      src="EXT:gdpr_extensions_com_mt/Resources/Public/Icons/rating_star.svg"
                      alt="star"
                    />
              </f:if>
              <f:if condition="{stars}>1">
                <f:image
                class="review__star"
                src="EXT:gdpr_extensions_com_mt/Resources/Public/Icons/rating_star.svg"
                alt="star"
                />
              </f:if>
              <f:if condition="{stars}>2">
                <f:image
                      class="review__star"
                      src="EXT:gdpr_extensions_com_mt/Resources/Public/Icons/rating_star.svg"
                      alt="star"
                    />
              </f:if>
              <f:if condition="{stars}>3">
                <f:image
                class="review__star"
                src="EXT:gdpr_extensions_com_mt/Resources/Public/Icons/rating_star.svg"
                alt="star"
                />
              </f:if>
              <f:if condition="{stars}>4">
                <f:image
                class="review__star"
                src="EXT:gdpr_extensions_com_mt/Resources/Public/Icons/rating_star.svg"
                alt="star"
                />
              </f:if>


</html>
